body{
    background-color: linen;
    /* background-color: burlywood; */
}
h1{
    color: black;
    text-align: center;
    font-size: xx-large;
}
h2{
    color: black;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    color: black;
    text-align: center;
    font-size: large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px black solid;
    padding: 1px;
    border-radius: 25px;
  }
  #table{
      text-align: center;
     
  }
  table,tr,th {
    border: 1px solid black;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    font-size: large;
  }
  td{
      font-size: medium;
      font-style: italic;
  }