$bgcolor: white;
$textcolor: black;
$fontstyle:italic;
/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  font-style: $fontstyle;
}
.wp{
    font-size: 10px;
}
.glow{
    @extend .wp;
    font-weight: bolder;
}
.res{
    @extend .wp;
}