$bgcolor: white;
$textcolor: black;
$fontstyle:italic;
/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-style: $fontstyle;
}
%font{
    font-size: larger;
}
.wp{
    @extend %font;
}
.glow{
    @extend %font;
    font-weight: bold;
}
.res{
    @extend %font;
}