body{
    /* height: 100%;
   margin: 0; */
    background-image: url("Backgroundimg1.jpeg") ;
    /* background-size:50%; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh;
    width: 100%; */
}
h1{

    font-style: italic;
    text-align: center;
}

#example{
    float: right;
    height: 100px;
    text-align: center;
    width: 250px;
    /* font: normal normal normal normal 35px / 50px'Open Sans', arial, sans-serif; */
}
  .push {
      display: inline-block;
      position: relative;
      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      background-color: #3b3334;
      background-image: -webkit-linear-gradient(top, #483e40, #3a3133);
      padding: 12px 20px;
      width: 120px;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
      border: 2px solid #5f5255;
      box-shadow: 0 4px 0 #282425, 0 0 6px #282425, 1px 1px 0px #282425, -1px -1px 0px #282425, 0px 8px 10px rgba(0, 0, 0, .5);
  }
  .push:active {
      box-shadow: 0 2px 0 #282425, 0 0 6px #282425, 1px 1px 0px #282425, -1px -1px 0px #282425, 0px 4px 10px rgba(0, 0, 0, .5);
      top: 2px;
  }
  .push1 {
    display: inline-block;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #3b3334;
    background-image: -webkit-linear-gradient(top, #483e40, #3a3133);
    padding: 12px 20px;
    width: 120px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border: 2px solid #5f5255;
    box-shadow: 0 4px 0 #282425, 0 0 6px #282425, 1px 1px 0px #282425, -1px -1px 0px #282425, 0px 8px 10px rgba(0, 0, 0, .5);
}
.push1:active {
    box-shadow: 0 2px 0 #282425, 0 0 6px #282425, 1px 1px 0px #282425, -1px -1px 0px #282425, 0px 4px 10px rgba(0, 0, 0, .5);
    top: 2px;
}


  