.grid{
  /* background-color: green; */
  display: grid;
  padding: 20px;
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
}
.grid-item{
  text-align: center;
  background-color: white;
  font-size: 20px;
}
.header {
  padding: 1px;
  text-align: center;
  background: lightslategrey;
  color: white;
  font-size: larger;
  border-radius: 20px;
}




/* body{
    text-align: center;
    background-color: burlywood;
}
/* #edu{
    float: left;
    height: 10px;
    text-align: center;
    width: 250px;
} */
/* #image{
  float: left;
  text-align: center;
  width: 600px;
}
#image1{
  float: left;
  text-align: center;
  width: 900px;
}

li#item{
  font-style: italic;
  
}
#cont1{
  float: right;
  text-align: center;
  width: 800px;
}
table.center,tr {
    margin-left:auto; 
    margin-right:auto;
  }
  th,td{
      border: 5px black;
  }
  #msitlogo{
    /* border-bottom: 60px solid red; */
    /* background-color: black;
    border: 7px black solid transparent;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
    padding: 7px;
    border-radius: 30px; */
  /* } */
/*  */
  /* #tcslogo{ */
    /* background-color: black;
    border: 7px black solid transparent;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
    /* padding: 7px; */
    /* border-radius: 30px; */
    /* padding: 1px; */
  /* }
td{
    font-size: large;
    
    /* margin-right:40%;
} */ */

  /* td{
      font-size: large;
      font-style: italic;
  } */ */